{% extends 'EmailMessage/base.html' %}

{% block content %}
    <h2>Список почтовых аккаунтов</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>Провайдер</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for account in email_accounts %}
            <tr>
                <td>{{ account.email }}</td>
                <td>{{ account.provider }}</td>
                <td>
                    <a href="{% url 'EmailMessage:email_account_delete' account.pk %}"
                       class="btn btn-danger btn-sm">Удалить</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Нет доступных почтовых аккаунтов.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'EmailMessage:email_account_create' %}" class="btn btn-primary">Добавить почтовый аккаунт</a>
{% endblock %}
